$dark1: #000;
$dark2: #11100f;
$dark3: #1b1a19;
$dark4: #252423;
$dark5: #323130;
$dark6: #484644;

$light1: #f3f2f1;
$light2: #e1dfdd;
$light3: #c8c6c4;
$light4: #b3b0ad;

$base: #fa0c27;
$base-alt: #fb2942;
$base-dark: #be091f;
$base-darker: #8c0717;
$base-light: #fc6c7d;
$base-lighter: #fdb5be;

$red: #d46367;
$green: #52ce90;
$yellow: #fdee65;
$orange: #df8f64;
$blue: #92a4f4;
$magenta: #da7dcf;
$cyan: #57d2da;


